.chatRoomContainer {
  width: 800px;
}

.chatRoomTopBar {
  height: 92px;
  padding: 30px;
  display: flex;
  text-align: center;
  box-shadow: 5px 5px 15px #dedede;
}

.chatRoomBackContainer {
  width: 50px;
}

.chatRoomImg {
  margin-top: 6px;
  height: 20px;
  cursor: pointer;
}

.chatRoomTitleContainer {
  width: 640px;
}

.chatRoomTitle {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-top: 3px;
  margin-right: 5px;
}

.chatRoomNum {
  margin-top: 3px;
  font-size: 20px;
  color: gray;
}

.chatRoomMenu {
  width: 50px;
}

.chatContents {
  height: 530px;
}

.chatInputContainer {
  height: 78px;
  padding: 10px 30px;
}

.chatInputForm {
  display: flex;
}

.chatInput {
  width: 680px;
  height: 58px;
  resize: none;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  border: 1px solid gray;
}

.inputBtn {
  width: 50px;
  height: 40px;
  background-color: #00cc45;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
}

.inputBtn:hover {
  background-color: #00a337;
  cursor: pointer;
}
