.chatRoomContainer {
  width: 800px;
}

.chatRoomTopBar {
  height: 92px;
  padding: 30px;
  display: flex;
  text-align: center;
  box-shadow: 5px 5px 15px #dedede;
}

.chatRoomImgContainer {
  width: 20px;
}

.chatRoomImg {
  margin-top: 6px;
  height: 20px;
  cursor: pointer;
}

.chatRoomTitleContainer {
  width: 700px;
}

.chatRoomTitle {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-top: 3px;
  margin-right: 5px;
}

.chatRoomNum {
  margin-top: 3px;
  font-size: 20px;
  color: gray;
}

.sideMenuFlex {
  display: flex;
  width: 800px;
  height: 608px;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.chatContents {
  height: 530px;
  position: relative;
}

#chat-box {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  position: absolute;
  bottom: 0;
}

.sent_msg {
  width: 740px;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  margin: 5px 0;
}

.sent_msg p {
  padding: 7px 10px;
  max-width: 380px;
  margin-left: 5px;
  background: #00cc45 none repeat scroll 0 0;
  border-radius: 6px;
  font-size: 14px;
  color: white;
  word-wrap: break-word;
}

.received_msg {
  width: 740px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 5px 0;
}

.received_msg b {
  font-size: 13px;
  width: 100%;
}

.received_msg p {
  background: #e5e6ea none repeat scroll 0 0;
  border-radius: 6px;
  font-size: 14px;
  color: black;
  padding: 7px 10px;
  max-width: 380px;
  margin-top: 5px;
  margin-right: 5px;
  word-wrap: break-word;
}

.date_time {
  color: #747474;
  display: block;
  font-size: 10px;
  margin: 8px 0 0;
}

.chatInputContainer {
  height: 78px;
  padding: 10px 30px;
}

.chatInputForm {
  display: flex;
}

.chatInput {
  width: 660px;
  height: 50px;
  resize: none;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  border: 1px solid gray;
}

.inputBtn {
  width: 70px;
  height: 50px;
  background-color: #00cc45;
  color: white;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
}

.inputBtn:hover {
  background-color: #00a337;
  cursor: pointer;
}

.NotiBox {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.NotiBox p {
  width: 90%;
  background-color: #e8e8e8;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  padding: 3px;
}

.sideMenuContainer {
  width: 300px;
  height: 608px;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: -300px;
  transition: 850ms;
  border-bottom-right-radius: 20px;
}

.sideMenuContainer.active {
  right: 0;
  transition: 350ms;
}

.sideMenuBlank {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 800px;
  height: 608px;
  background-color: black;
  opacity: 0.6;
  border-bottom-right-radius: 20px;
}

.sideMenu {
  z-index: 2;
  width: 300px;
  height: 608px;
  background-color: white;
  opacity: 1;
  border-bottom-right-radius: 20px;
}

.chatMemberContainer {
  width: 300px;
  height: 548px;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.chatMemberBox {
  height: 480px;
  overflow: auto;
}

.chatMemberTitle {
  height: 65px;
  font-size: 18px;
  border-bottom: 1px solid lightgray;
  padding: 20px;
}

.chatMember {
  padding: 10px 20px;
  font-size: 14px;
}

.btnBox {
  width: 300px;
  height: 60px;
  display: flex;
  align-content: center;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
}

.btnBox button {
  height: 40px;
  padding: 0 10px;
  background-color: #00cc45;
  border: 0;
  border-radius: 6px;
  font-size: 13px;
  color: white;
}

.btnBox button:hover {
  background-color: #00a337;
  cursor: pointer;
}
