.homeContainer {
  margin-left: 400px;
  height: 700px;
  background-color: white;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.homeTitle {
  font-size: 30px;
  line-height: 700px;
  font-weight: bold;
  color: #19d157;
}
