.loginContainer {
  padding: 80px 50px;
  height: 700px;
  text-align: center;
  font-size: 25px;
  background-color: white;
  border-radius: 20px;
}

.title {
  margin-bottom: 100px;
  color: #00cc45;
}

.loginForm {
  width: 314px;
  margin: 0 auto;
}

.loginInput {
  width: 314px;
  height: 50px;
  padding: 0px 10px;
  margin-bottom: 10px;
}

.loginInput:focus {
  outline: 2px solid #00cc45;
}

.loginBtn {
  width: 300px;
  height: 45px;
  margin-top: 50px;
  margin-bottom: 15px;
  background-color: #00cc45;
  border: 0;
  border-radius: 5px;
}

.loginBtn:hover {
  background-color: #19d157;
}

.kakaoLogin {
  display: block;
  margin-bottom: 20px;
}

.signupBtn {
  font-size: 13px;
  color: #3f3f3f;
}
