.toggleBtnContainer {
  display: flex;
  text-align: center;
}

.allChatBtn {
  height: 78px;
  border-bottom-left-radius: 20px;
  width: 200px;
  padding: 15px;
  font-size: 13px;
}

.enterChatBtn {
  height: 78px;
  width: 200px;
  padding: 15px;
  font-size: 13px;
}

.allChatBtn:hover,
.enterChatBtn:hover {
  background-color: #f4f3f5;
  cursor: pointer;
}

.ChatBtnImg {
  font-size: 30px;
  margin-bottom: 3px;
}
